.bg-head {
    height: 0;
    position: unset;
    z-index: -1;
}
.bg-head-A {
    background-size: 100%;
    background-position: center top;
    height: 100vh;
    background-repeat: no-repeat;
}

#bisnisloan-area .head-content h1 {
    font-size: 2.8rem;
    line-height: 2.75rem;
    font-weight: 700;
}
#bisnisloan-area .head-content h1,
#bisnisloan-area .head-content h6 {
    color: #fff;
}
.bg-putih{
    background: #fff;
    height: 170px;
    padding: 21px 20px;
}

.txt-bg-putih {
    padding:5px 2px;
    color: #00a649;
   
}

.txt-bold {
    font-weight: 800;
}

.txt-ijo {
    color: #00a649;
}
.txt-abu{
    color:#959796;
}

.txt-putih {
    color:#fff;
}

.background-putih {
    background: #fff;
}
.mt-24 {
    margin-top: 24rem !important;
}

.tes {
   padding-top:  3.5rem!important
}

.txt-mengapa {
    padding: 29px 2px 15px 0px;
    font-weight: 700;
    margin-bottom: 0px;
}

.rounded {
    border-radius: 20px;
}




  .bg-abu {
      background-color: #ebebeb;
  }

  .pinjaman-bisnis {
    text-align: center;
    padding: 20px;
    border: 1px solid green;
    margin: 0 50px;
  }

  .pinjaman-bisnis2 {
    background-color: #dadada;
    padding: 2px 10px;
    width: 140px;
    display: inline-block;
    border: 1px solid green;
    text-align: center;
    vertical-align: middle;
    top: -30px;
    position: relative;
  }

  input.placeholder-warna::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: green;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: green;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color:green;
}

input.placeholder-warna{
    border: 1px solid green;
  }

  .matiin-form-control {
    margin-bottom: 0rem !important;
  }

  .pilih-custom {
       border: 1px solid green; color:green;
  }



  @media (max-width: 375px) {
  	.bg-head-A {
    background-size: auto;
    background-position: left top;
    height: 100vh;
    background-repeat: no-repeat;
	}

	.blokIjoheadingBannerA, .blokIjoheadingBannerB, .blokIjoheadingBannerC, .blokIjoheadingBannerD {

    background: #01a64ad6;
    padding: 50px;
    margin-left: -30px;
    text-align: left;
    height: auto;

	}
	.head-area .head-content h1 {
    font-size: 2rem !important;
	}
	
	.blokIjoheadingBannerC {
    width: 100%;
}

	.blokIjoheadingBannerB {
    width: auto;
	}

	.mt-24 {

    margin-top: 10rem !important;

	}


	.pinjaman-bisnis {

    text-align: center;
    /*padding: 20px;*/
    border: 1px solid green;
    margin: 0;
	}
  }