.bg-head {
    height: 0;
    position: unset;
    z-index: -1;
}
.bg-head-A {
    background-size: 100%;
    background-position: center top;
    height: 100vh;
    background-repeat: no-repeat;
}

#bisnisloan-area .head-content h1 {
    font-size: 2.8rem;
    line-height: 2.75rem;
    font-weight: 700;
}
#bisnisloan-area .head-content h1,
#bisnisloan-area .head-content h6 {
    color: #fff;
}
.bg-putih{
    background: #fff;
    height: 170px;
    padding: 21px 20px;
}

.txt-bg-putih {
    padding:5px 2px;
    color: #00a649;
   
}

.txt-bold {
    font-weight: 800;
}

.txt-ijo {
    color: #00a649;
}
.txt-abu{
    color:#959796;
}

.background-putih {
    background: #fff;
}
.mt-24 {
    margin-top: 24rem !important;
}

.tes {
   padding-top:  3.5rem!important
}

.txt-mengapa {
    padding: 29px 2px 15px 0px;
    font-weight: 700;
    margin-bottom: 0px;
}

.rounded {
    border-radius: 20px;
}



ul.ceklis-ul {
    list-style: none;
    padding: 0;
  }
  li.ceklis-li {
    padding-left: 1.3em;
  }
  li.ceklis-li:before  {
    content: "\e64c"; /* FontAwesome Unicode */
    font-family: themify;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
    color: green;
  }

  .bg-abu {
      background-color: #ebebeb;
  }



  @media (max-width: 375px) {
    .bg-head-A {
    background-size: auto !important;
    background-position: center top;
    height: 100vh;
    background-repeat: no-repeat;
    }



    .section-padding {
    padding-top: 18.5rem;
    padding-bottom: 3.5rem;
    }

    .section-padding.padding-takperlu {
    padding-top: 5.5rem;
    padding-bottom: 3.5rem;
    }
  }