/*CSS INTRO*/
.bg-intro-beridana {
    height: 0;
    position: unset;
    z-index: -1;
}
.bg-intro-beridana-A {
    background-size: 75%;
    background-position: 100% 110%;
    height: 1063px;
    background-repeat: no-repeat;
}
.bg-intro-beridana-B {
    background-size: 45%;
    background-position: 100% 100%;
    height: 1233px;
    background-repeat: no-repeat;
}
/*CSS INTRO*/
/*CSS BANNER INTRO*/
.blok-ijo {
    border-radius: 50%;
    background-color: #00a649;
    text-align: center;
    color: #fff;
    min-height: 257px;
    /* min-width: 280px; */
    /* width: 280px; */
    height: 257px;
    vertical-align: middle;
    padding: 30px 0px;
    margin: 0px 15px;
}
.blok-ijo .h1-blok-ijo {
    color: #fff !important;
    font-size: 4rem !important;
    letter-spacing: 5px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.blok-ijo .h6-blok-ijo {
    line-height: 1rem;
    font-size: 1.1rem;
}
.blok-ijo .p-blok-ijo {
    color: #fff;
    line-height: 0.7rem;
    font-size: 0.7rem;
    font-style: italic;
}
.blok-kotak-biru {
    background-color: #4d5e7c;
    text-align: center;
    color: #fff;
    min-height: 257px;
    /* min-width: 280px; */
    /* width: 280px; */
    height: 257px;
    vertical-align: middle;
    padding: 30px 0px;
    margin: 0px 15px;
}
.blok-kotak-biru .h1-blok-kotak-biru {
    color: #fff !important;
    font-size: 4rem !important;
    letter-spacing: 5px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.blok-kotak-biru .h6-blok-kotak-biru {
    line-height: 1rem;
    font-size: 1.1rem;
}
.blok-kotak-biru .p-blok-kotak-biru {
    color: #fff;
    line-height: 0.7rem;
    font-size: 0.7rem;
    font-style: italic;
}
.btn-beridana {
    color: #575757;
    background-color: #fff;
    /* border-color: #00a649; */
    border: 4px solid #00a649;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 85%;
    margin-top: -60px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(62,57,107,.3);
    box-shadow: 0 10px 30px 0 rgba(62,57,107,.3);
    line-height: 4px;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 2px;
    padding: 1rem 2rem;
}
.btn-beridana:hover {
    background-color: #00a649;
    color: #fff;
}
.btn-ajudana {
    color: #212529;
    background-color: #fff;
    /* border-color: #00a649; */
    border: 4px solid #4d5e7c;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 85%;
    margin-top: -60px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(62,57,107,.3);
    box-shadow: 0 10px 30px 0 rgba(62,57,107,.3);
    line-height: 4px;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 2px;
    padding: 1rem 2rem;
}
.btn-ajudana:hover {
    background-color: #4d5e7c;
    color: #fff;
}
.mt-12 {
    margin-top: 12rem !important;
}
/*CSS BANNER INTRO*/
/*CSS KOMISI*/

/*CSS KOMISI*/

/*CSS VIDEO*/
.homeberidana-video .play-video1 {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    padding: .65rem;
    border-radius: 50%
}

.homeberidana-video .play-video1 .play:hover {
    text-decoration: none
}
/*CSS VIDEO*/
/*CSS MENDANAI*/
.miring-bg {
  height: 625px;
  width: 100%;
  background-repeat: repeat;
  background-size: 300px;
  background-position: 50% 100%;
  background: #ebebeb;
  -webkit-transform: skew(0deg, 5deg);
          transform: skew(0deg, 5deg);

  display: flex;
  align-items: center;
}
.miring-bg .bg-area {
  -webkit-transform: skew(0deg, -5deg);
          transform: skew(0deg, -5deg);
  margin: 0 auto;
}

.miring-bg2 {
  /*height: 625px;*/
  padding-top:50px;
  padding-bottom:50px;
  width: 100%;
  background-repeat: repeat;
  background-size: 300px;
  background-position: 50% 100%;
  background: #ebebeb;
  -webkit-transform: skew(0deg, 5deg);
          transform: skew(0deg, 5deg);

  display: flex;
  align-items: center;
}
.miring-bg2 .bg-area2 {
  -webkit-transform: skew(0deg, -5deg);
          transform: skew(0deg, -5deg);
  margin: 0 auto;
}
/*CSS MENDANAI*/

@media (max-width: 575.98px) {
.bg-intro-beridana-A {
    background-size: 155%;
    background-position: 100% 170%;
    height: 100vh;
    background-repeat: no-repeat;
}
.bg-intro-beridana-B {
    background-size: 85%;
    background-position: 290% 200%;
    height: 100vh;
    background-repeat: no-repeat;
}
.head-area .head-content h3 {
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1rem;
    padding-right: 20%;
    color: #292929;
}
.blok-ijo {
    border-radius: 0;
    background-color: #00a649;
    text-align: center;
    color: #fff;
    min-height: 220px;
    /* min-width: 280px; */
    /* width: 280px; */
    height: 220px;
    vertical-align: middle;
    padding: 10px 0px;
    margin: 0px 0px;
}
.blok-ijo .h6-blok-ijo {
    line-height: 0.95rem;
    font-size: 0.8rem;
}
.blok-ijo .h1-blok-ijo {
    color: #fff !important;
    font-size: 2rem !important;
    letter-spacing: 0px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 2px;
}
.blok-ijo .p-blok-ijo {
    color: #fff;
    line-height: 0.7rem;
    font-size: 0.7rem;
    font-style: italic;
}
.btn-beridana {
    color: #575757;
    background-color: #fff;
    /* border-color: #00a649; */
    border: 4px solid #00a649;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    margin-top: -50px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(62,57,107,.3);
    box-shadow: 0 10px 30px 0 rgba(62,57,107,.3);
    line-height: 4px;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 0px;
    padding: 1rem 2rem;
}
.blok-kotak-biru {
    background-color: #4d5e7c;
    text-align: center;
    color: #fff;
    min-height: 220px;
    /* min-width: 280px; */
    /* width: 280px; */
    height: 220px;
    vertical-align: middle;
    padding: 20px 0px;
    margin: 0px 0px;
}
.blok-kotak-biru .h6-blok-kotak-biru {
    line-height: 0.95rem;
    font-size: 0.8rem;
}
.blok-kotak-biru .h1-blok-kotak-biru {
    color: #fff !important;
    font-size: 2rem !important;
    letter-spacing: 0px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
}
.btn-ajudana {
    color: #212529;
    background-color: #fff;
    /* border-color: #00a649; */
    border: 4px solid #4d5e7c;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    margin-top: -50px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(62,57,107,.3);
    box-shadow: 0 10px 30px 0 rgba(62,57,107,.3);
    line-height: 4px;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 0px;
    padding: 1rem 2rem;
}

.mt-12 {
    margin-top: 6rem !important;
}
.head-area .head-content h1 {
    font-size: 2.2rem;
    line-height: 1.75rem;
}
}