/*CSS KONTAK*/
.judulKontak {
    font-size: 18px;
    color: #959796;
}
.kontakBeridana {}
.kontakBeridana .txtPT {
    color:#00a649 !important;
    font-size:24px !important;
    font-weight: bold;
    margin-top:25px;
    margin-bottom:5px;
}
.kontakBeridana .ketPT,
.kontakBeridana .labelForm {
    font-size:;
    color:#959796 !important;
    margin-top: ;
    margin-bottom:;
}
.kontakBeridana .txtForm a {
    font-size:24px !important;
    font-weight: bold;
    color:#00a649 !important;
    margin-top: ;
    margin-bottom:5px;
}

.form-control:focus {
    color:#00a649 !important;
    border-color:#00a649 !important;
}

/*MAP*/
.map {
    width: 700px;
    height: 380px;
    margin: calc(50vh - 190px) auto;
    box-shadow: 0 0 40px -10px black;
    background: rgb(240, 240, 240);
    font-family: 'Montserrat', sans-serif;
    max-width: calc(100vw - 60px)
}

#map {
    width: 100%;
    height: 380px;
    display: inline-block
}
/*MAP*/
/*CAPTCHA*/
.submit__generated {
    display: inline-block;
}
.submit__generated span {
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: center;
    line-height: 35px;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.submit__generated.valid:after, .submit__generated.unvalid:after {
    font-family: FontAwesome;
    font-size: 18px;
    margin-left: 10px;
}
.submit__generated.valid:after {
    content: "\f00c";
    color: #2ecc71;
}
.submit__generated.valid .submit__input {
    border: 1px solid #2ecc71;
    color: #2ecc71 !important;
}
.submit__generated.unvalid:after {
    content: "\f00d";
    color: #e74c3c;
}
.submit__generated.unvalid .submit__input {
    border: 1px solid #e74c3c;
    color: #e74c3c;
}
.submit__generated .submit__input {
    position: relative;
    outline: 0;
    height: 35px;
    width: 35px;
    border-radius: 4px;
    border: 1px solid #42A0DD;
    color: #42A0DD;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    top: -2px;
}

i.fa-refresh {
    margin: 4px 0 0px 5px;
    padding: 5px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -webkit-transform-origin: center center;
          transform-origin: center center;
    transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out, color 0.2s ease-out;
    transition: transform 0.2s ease-out, color 0.2s ease-out, -webkit-transform 0.2s ease-out;
}
i.fa-refresh:hover {
    color: rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

span.submit__error,
span.submit__error--empty {
    color: #e74c3c;
    position: absolute;
    margin-top: 5px;
    display: block;
}
.submit__overlay {
    height: 50px;
    width: 110px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    margin-top: -90px;
    margin-left: -5px;
}

.low-opa {
    opacity: 0.4;
}
.form-fields,
.form-success {
    transition: all 0.2s ease-out;
}

.form-success {
    opacity: 0;
    -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
    margin-top: 20px;
}
/*CAPTCHA*/


/*CSS KONTAK*/

