.bg-head {
    height: 0;
    position: unset;
    z-index: -1;
}
.bg-head-A {
    background-size: 100%;
    background-position: center top;
    height: 100vh;
    background-repeat: no-repeat;
}

#bisnisloan-area .head-content h1 {
    font-size: 2.8rem;
    line-height: 2.75rem;
    font-weight: 700;
}
#bisnisloan-area .head-content h1,
#bisnisloan-area .head-content h6 {
    color: #fff;
}
.bg-putih{
    background: #fff;
    height: 170px;
    padding: 21px 20px;
}
.blokIjoheadingBanner {
    background: #01a64ad6;
    padding: 10px 0px 10px 140px;
    width: 500px;
    margin-left: -30px;
    text-align: left;
    height: 190px;
}

.txt-bg-putih {
    padding:5px 2px;
    color: #00a649;
   
}

.txt-bold {
    font-weight: 800;
}

.txt-ijo {
    color: #00a649;
}
.txt-abu{
    color:#959796;
}

.txt-putih {
    color:#fff;
}

.background-putih {
    background: #fff;
}
.mt-24 {
    margin-top: 24rem !important;
}

.tes {
   padding-top:  3.5rem!important
}

.txt-mengapa {
    padding: 29px 2px 15px 0px;
    font-weight: 700;
    margin-bottom: 0px;
}

.rounded {
    border-radius: 20px;
}



ul.ceklis-ul {
    list-style: none;
    padding: 0;
  }
  li.ceklis-li {
    padding-left: 1.3em;
  }
  li.ceklis-li:before  {
    content: "\e64c"; /* FontAwesome Unicode */
    font-family: themify;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
    color: green;
  }

  .bg-abu {
      background-color: #ebebeb;
  }

  .pinjaman-bisnis {
    text-align: center;
    padding: 20px;
    border: 1px solid green;
    margin: 0 50px;
  }

  .pinjaman-bisnis2 {
    background-color: #dadada;
    padding: 2px 10px;
    width: 140px;
    display: inline-block;
    border: 1px solid green;
    text-align: center;
    vertical-align: middle;
    top: -30px;
    position: relative;
  }

  input.placeholder-warna::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: green;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: green;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color:green;
}

input.placeholder-warna{
    border: 1px solid green;
  }

  .matiin-form-control {
    margin-bottom: 0rem !important;
  }

  .pilih-custom {
       border: 1px solid green; color:green;
  }

.bg5langkah {
  background:#f8f8f8;
}

.bg5langkah::after {
  content: '';
  background-image: url('../../images/bg-blok-putih-miring.png');
  background-repeat: no-repeat;
  background-position: bottom center;
      z-index: 21;
    height: 120px;
    width: 100%;
}

.bgSimulasi {
  background-color:#bfbfbf;
}
.bgSimulasi::after {
  content: '';
  background-image: url('../../images/bg-blok-putih-miring.png');
  background-repeat: no-repeat;
  background-position: bottom center;
      z-index: 21;
    height: 120px;
    width: 100%;
}

.bgFrequently {
  background-color:#ebebeb;
}
.bgFrequently::after {
  content: '';
  background-image: url('../../images/bg-blok-putih-miring.png');
  background-repeat: no-repeat;
  background-position: bottom center;
      z-index: 21;
    height: 120px;
    width: 100%;
}

.text-putih {
  color:#fff !important;
}

.bg-gray {
    background-color: #bec5ce;
    color: #fff;
}
.bg-green {
    background-color: #99c356;
    color: #fff;
}
.bg-blue {
    background-color: #214372;
    color: #fff;
}
table.tableBiaya tbody tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
table.tableBiaya tbody tr td {
    padding-top: 10px;
    padding-bottom: 10px;
    background: 0 0;
}
.my-table tbody tr td {
    font-weight: 700;
}





@media (max-width:375px) {
	.bg-head-A {
    background-size: auto;
    background-position: center top;
    height: 100vh;
    background-repeat: no-repeat;
	}
	
	.blokIjoheadingBannerA {
    width: auto;
	}
	
	.blokIjoheadingBannerA, .blokIjoheadingBannerB, .blokIjoheadingBannerC, .blokIjoheadingBannerD {
    background: #01a64ad6;
    padding: 40px;
        padding-top: 40px;
    margin-left: -30px;
    text-align: left;
    height: 190px;
	}
	
	.pinjaman-bisnis {
    text-align: center;
    padding: 20px;
    border: 1px solid green;
    margin: 0;
	}
}