.bg-head {
    height: 0;
    position: unset;
    z-index: -1;
}
.bg-head-A {
    background-size: 100%;
    background-position: center top;
    height: 100vh;
    background-repeat: no-repeat;
}

#bisnisloan-area .head-content h1 {
    font-size: 2.8rem;
    line-height: 2.75rem;
    font-weight: 700;
}

#bisnisloan-area .head-content h4 {
    font-size: 2.4rem;
    line-height: 2.75rem;
    font-weight: 500;
}

#bisnisloan-area .head-content h1,
#bisnisloan-area .head-content h4,
#bisnisloan-area .head-content h5,
#bisnisloan-area .head-content h6 {
    color: #fff;
}
.bg-putih{
    background: #fff;
    height: 170px;
    padding: 21px 20px;
}

.txt-bg-putih {
    padding:5px 2px;
    color: #00a649;
   
}

.txt-bold {
    font-weight: 800;
}

.txt-putih {
    color:#fff;
}

.txt-ijo {
    color: #00a649;
}
.txt-abu{
    color:#959796;
}

.background-putih {
    background: #fff;
}
.mt-24 {
    margin-top: 24rem !important;
}

.tes {
   padding-top:  3.5rem!important
}

.txt-mengapa {
    padding: 29px 2px 15px 0px;
    font-weight: 700;
    margin-bottom: 0px;
}

.rounded {
    border-radius: 20px;
}



ul.ceklis-ul {
    list-style: none;
    padding: 0;
  }
  li.ceklis-li {
    padding-left: 1.3em;
  }
  li.ceklis-li:before  {
    content: "\e64c"; /* FontAwesome Unicode */
    font-family: themify;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
    color: green;
  }
  .pinjaman-bisnis {
    text-align: center;
    padding: 20px;
    border: 1px solid green;
    margin: 0 50px;
  }

  .pinjaman-bisnis2 {
    background-color: #dadada;
    padding: 2px 10px;
    width: 140px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    top: -30px;
    position: relative;
  }


  .garis-hr {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
   }
  
   .garis-hr:before, 
   .garis-hr:after {
    flex-grow: 1;
    height: 1px;
    content: '\a0';
    background-color: #bababa;
    position: relative;
    top: 0.5em;
  }
  
  .garis-hr:before {
    margin-right:10px;
  }
  
  .garis-hr:after {
    margin-left:10px;
  }

  .pilih-custom {
    background-color: #00800054;    border: 1px solid green; color:green;
  }



  input.placeholder-warna::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: green;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: green;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color:green;
}



@media (max-width: 375px) {
  .bg-head-A {

    background-size: auto;
    background-position: center top;
    height: 100vh;
    background-repeat: no-repeat;

  }

  #bisnisloan-area .head-content h4 {

    font-size: 2.2rem;
    line-height: 1.75rem;
    font-weight: 500;

  }

  .pinjaman-bisnis {

    text-align: center;
    padding: 20px;
    border: 1px solid green;
    margin: 20px 0;

  }
}