.bg-head {
    height: 0;
    position: unset;
    z-index: -1;
}
.bg-head-A {
    background-size: 100%;
    background-position: center top;
    height: 100vh;
    background-repeat: no-repeat;
}

#bisnisloan-area .head-content h1 {
    font-size: 2.8rem;
    line-height: 2.75rem;
    font-weight: 700;
}
#bisnisloan-area .head-content h1,
#bisnisloan-area .head-content h6 {
    color: #fff;
}
.bg-putih{
    background: #fff;
    height: 170px;
    padding: 21px 20px;
}

.txt-bg-putih {
    padding:5px 2px;
    color: #00a649;
   
}

.txt-bold {
    font-weight: 800;
}

.txt-ijo {
    color: #00a649;
}
.txt-abu{
    color:#959796;
}

.background-putih {
    background: #fff;
}
.mt-24 {
    margin-top: 24rem !important;
}

.tes {
   padding-top:  3.5rem!important
}

.txt-mengapa {
    padding: 29px 2px 15px 0px;
    font-weight: 700;
    margin-bottom: 0px;
}

.rounded {
    border-radius: 20px;
}

.txt-putih {
    color:#fff;
}



ul.ceklis-ul {
    list-style: none;
    padding: 0;
  }
  li.ceklis-li {
    padding-left: 1.3em;
  }
  li.ceklis-li:before  {
    content: "\e64c"; /* FontAwesome Unicode */
    font-family: themify;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
    color: green;
  }

  .txt-bunga {
    font-size: 13px;
  }

  .txt-bunga2 {
    font-size: 14px;
  }
  
  .txt-abuitem {
      color:#666;
  }

  .pinjaman-bisnis {
    text-align: center;
    padding: 20px;
    border: 1px solid green;
    margin: 0 50px;
  }

  .pinjaman-bisnis2 {
    background-color: #dadada;
    padding: 2px 10px;
    width: 140px;
    display: inline-block;
    border: 1px solid green;
    text-align: center;
    vertical-align: middle;
    top: -30px;
    position: relative;
  }

  .bg-abu {
      background: #ebebeb;
  }
 
  @media (min-width: 376px) {
    .hidden-desktop {
  display: none;
  visibility: hidden;
    }
  }

  @media (max-width: 375px) {

    .bg-putih {
    background: #fff;
    height: 180px;
    padding: 21px 20px;
  }

    .bg-head-A {
    background-size: auto !important;
    background-size: 100%;
    background-position: center top;
    height: 100vh;
    background-repeat: no-repeat;
    }

    .txt-bunga2 {
    font-size: 18px;
    }

    .width-img-mobile {
      width: 100%;
      text-align: center !important;
    }

    .hidden-mobile {
      display: none;
      visibility: hidden;
    }

    #bisnisloan-area .head-content h1 {

    font-size: 2.8rem;
    line-height: 2.5rem !important;
    font-weight: 700;

    }

    .mt-24 {

    margin-top: 24rem !important;

    }

    .section-padding {

    padding-top: 16.5rem;
    padding-bottom: 3.5rem;

    }

    .section-padding.padding-aplikasi {

    padding-top: 5.5rem;
    padding-bottom: 3.5rem;

    }

    .pinjaman-bisnis {

    text-align: center;
    padding: 20px;
    border: 1px solid green;
    margin: 20px 0px;

    }
  }