.tabs-tentang {
    border:0px;
}
.tabs-abu {
    background-color: #959796 !important;
    border: 0px !important;
    border-radius: 0px !important;
}
.tabs-ijo {
    background-color: #00a649 !important;
    border: 0px !important;
    border-radius: 0px !important;
}
.tabs-abu,
.tabs-ijo {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 1.3rem;
    color: #fff !important;
    letter-spacing: .1rem;
    margin-bottom: 3rem;
}