/*================================================================================
	Item Name: Crypto ICO - Cryptocurrency Website Landing Page HTML + Dashboard Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/*css mobile menu*/
.page-mobile-main-menu{

    position:fixed;

    top:0;

    right:100%;

    z-index:9999999;

    overflow-x:auto;

    width:100%;

    height:100%;

    background:#fff;

    box-shadow:3px 1px 29px rgba(0,0,0,.12);

    text-align:left;

    -webkit-transition:all .3s;

    transition:all .3s;

    background-color:#00a649f5

}

.page-mobile-main-menu.open{

    right:0

}

.page-mobile-menu-header{

    display:-webkit-box;

    display:-webkit-flex;

    display:-ms-flexbox;

    display:flex;

    padding:0 30px;

    height:110px;

    background:#fff;

    -webkit-box-align:center;

    -webkit-align-items:center;

    -ms-flex-align:center;

    align-items:center

}

.page-mobile-menu-logo{

    -webkit-box-flex:1;

    -webkit-flex-grow:1;

    -ms-flex-positive:1;

    flex-grow:1

}

.page-mobile-menu-logo img{

    width:50%

}

.page-close-mobile-menu{

    display:-webkit-box;

    display:-webkit-flex;

    display:-ms-flexbox;

    display:flex;

    height:30px;

    -webkit-box-align:center;

    -webkit-align-items:center;

    -ms-flex-align:center;

    align-items:center

}

.page-close-mobile-menu div{

    position:relative;

    width:24px;

    height:18px;

    cursor:pointer

}

.page-close-mobile-menu i{

    position:absolute;

    top:50%;

    left:0;

    margin-top:-1px;

    width:100%;

    height:2px;

    background:0 0;

    -webkit-transition:all .3s cubic-bezier(.645,.045,.355,1);

    transition:all .3s cubic-bezier(.645,.045,.355,1)

}

.page-close-mobile-menu i:after,.page-close-mobile-menu i:before{

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:100%;

    background:#1a237e;

    content:"";

    -webkit-transition:width .3s cubic-bezier(.645,.045,.355,1);

    transition:width .3s cubic-bezier(.645,.045,.355,1)

}

.page-close-mobile-menu i:before{

    -webkit-transform:rotate(-45deg);

    -ms-transform:rotate(-45deg);

    transform:rotate(-45deg)

}

.page-close-mobile-menu i:after{

    -webkit-transform:rotate(45deg);

    -ms-transform:rotate(45deg);

    transform:rotate(45deg)

}

.page-mobile-main-menu .mobile-menu{

    margin:0;

    padding:20px 30px 30px

}

.page-mobile-main-menu li{

    display:block;

    list-style-type:none

}

.page-mobile-main-menu .mobile-menu a{

    position:relative;

    display:block;

    font-weight:400;

    letter-spacing:0;

    line-height:1.5;

    text-transform:none

}

.page-mobile-main-menu .mobile-menu>li>a{

    padding:10px 0;

    border:0 transparent;

    font-size:20px;

    color:#fff

}

.page-mobile-main-menu .mobile-menu>li+li>a{

    border-top:1px solid rgba(255,255,255,.1)

}

.page-mobile-main-menu .toggle-sub-menu{

    position:absolute;

    top:50%;

    right:0;

    width:40px;

    height:40px;

    background:hsla(0,0%,100%,.1);

    color:#fff;

    text-align:center;

    line-height:40px;

    z-index:5;

    -webkit-transform:translateY(-50%);

    -ms-transform:translateY(-50%);

    transform:translateY(-50%);

    -webkit-transition:all .3s cubic-bezier(.645,.045,.355,1);

    transition:all .3s cubic-bezier(.645,.045,.355,1)

}

.commerce-tabs .tabs>li a,.mini-cart .cart-list li a,.mini-cart .widget-shopping-cart-content,.product-item .extra{

    transition:all .5s cubic-bezier(.645,.045,.355,1)

}

.page-mobile-main-menu .toggle-sub-menu:after{

    display:block;

    content:"\f105";

    font-size:18px;

    font-family:FontAwesome

}

.page-mobile-main-menu .toggle-sub-menu.open:after{

    content:"\f107"

}

.page-mobile-main-menu .sub-menu a{

    font-size:17px;

    color:#fff;

    padding:8px 0

}

.page-mobile-main-menu .sub-menu{

    display:none;

    margin:12px 0 14px 10px

}

.page-mobile-main-menu .sub-menu.open{

    display:block

}


.mobile-menu .toggle-sub-menu:after{

    display:block;

    content:"\f105";

    font-size:12px;

    font-family:FontAwesome

}

.mobile-menu .toggle-sub-menu.open:after{

    content:"\f107"

}

.mobile-menu .sub-menu a{

    font-size:14px;

    color:#fff;

    padding:8px 0

}

.mobile-menu .sub-menu{

    display:none;

    margin:12px 0 14px 10px

}

.mobile-menu .sub-menu.open{

    display:block

}

.mobile-menu li a:hover{

    color:#dbdbdb

}



.mobile-menu{

    margin:0;

    padding:0

}

.mobile-menu li{

    display:block;

    list-style-type:none

}

.mobile-menu a{

    position:relative;

    display:block;

    font-weight:400;

    letter-spacing:0;

    line-height:1.5;

    text-transform:uppercase;

    font-size:14px

}

.mobile-menu>li>a{

    padding:5px 0;

    color:#fff

}

.mobile-menu .toggle-sub-menu{

    position:absolute;

    top:50%;

    right:0;

    width:20px;

    height:20px;

    background:hsla(0,0%,100%,.1);

    color:#fff;

    text-align:center;

    line-height:20px;

    z-index:5;

    -webkit-transform:translateY(-50%);

    -ms-transform:translateY(-50%);

    transform:translateY(-50%);

    -webkit-transition:all .3s cubic-bezier(.645,.045,.355,1);

    transition:all .3s cubic-bezier(.645,.045,.355,1)

}

._3KejucR-9Mm-2mrGqffl-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

._3KejucR-9Mm-2mrGqffl-a button {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 12px 10px;
    border-bottom: 1px solid #e0e0e0;
    font-weight: 700;
    cursor: pointer
}

._3KejucR-9Mm-2mrGqffl-a button:focus,._3KejucR-9Mm-2mrGqffl-a button:hover {
    background: #e0e0e0
}

._3KejucR-9Mm-2mrGqffl-a button:last-child {
    border-left: 1px solid #e0e0e0
}

._3KejucR-9Mm-2mrGqffl-a button img {
    max-width: 18px;
    height: auto;
    margin-right: 5px;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    vertical-align: bottom
}

/*end css mobile menu*/







.pading {
	padding: 10px 20px;
}

.bg-abu-text {
	padding: 7px 2px 7px 57px;
	background: #bfbfbf;
	margin: 0px 0px 0px 36px;
}

.bg-ga-ada {
	padding: 7px 2px 7px 57px; 
	margin: 0px 0px 0px 36px;
}


@media (min-width: 376px) {
	.hidden-desktop {
  	display: none;
  	visibility: hidden;
    }
}


@media (max-width: 375px) {
	
	.text-left-mobile {
		text-align:left !important;
	}
	
	.bg-ga-ada {
    padding: 20px;
    margin: 0;
	}
	
	.bg-abu-text {
    padding: 20px;
    background: #bfbfbf;
    margin: 0px;
	}
	
	.hidden-mobile{
  	display: none;
  	visibility: hidden;
    }

    .center-img-text {
    	text-align: center;
    }
}